# ide files
/.vscrof/
/.vscode/
/.idea/

/build/
/node_modules/
/*.tar.gz
/package-lock.json
/compile_commands.json
/.cache
.yarn/
*.cjs
*.mjs
!tests/**/*.mjs
!tests/**/*.cjs
!scripts/**/*.mjs
!scripts/**/*.cjs
.venv

/src/version.h
